.admin {
  width: 600px;
  margin: 0 auto;
}

.admin .github .posts .actions {
  text-align: right;
}

.admin .github .posts .actions a {
  margin-left: 5px;
}

.admin .github form .cancel {
  margin-left: 10px;
}