.admin {
  width: 550px;
  margin: 0 auto;
}

.admin .github .posts .actions {
  text-align: right;
}

.admin .github .posts .actions a {
  margin-left: 5px;
}

.admin .github form .cancel {
  margin-left: 10px;
}

.admin .github .post .actions {
  margin-bottom: 10px;
  overflow: hidden;
}

.admin .github .post .actions a.text {
  padding: 6px 0;
  display: inline-block;
}

.admin .github .post .actions-right {
  float: right;
}

.admin .github .post .actions-right a {
  margin-left: 5px;
}

.admin .github .post .actions-left {
  float: left;
}

.admin .github .post .actions-left a {
  margin-right: 5px;
}