.admin {
  width: 550px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.admin .github > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin .github iframe {
  margin-bottom: 10px;
}

.admin .github form .cancel {
  margin-left: 10px;
}

.admin .github .all-posts .actions {
  margin-top: -45px;
}

.admin .github .actions {
  margin-bottom: 10px;
  overflow: hidden;
}

.admin .github .actions a.text {
  padding: 6px 0;
  display: inline-block;
}

.admin .github .actions-right {
  float: right;
}

.admin .github .actions-right a {
  margin-left: 5px;
}

.admin .github .actions-left {
  float: left;
}

.admin .github .actions-left a {
  margin-right: 5px;
}