<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
      {% endif %}
      {% if site.bitbucket_username %}
      <a href="https://bitbucket.org/{{ site.bitbucket_username }}"><i class="fa fa-bitbucket"></i></a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
      {% endif %}
      {% if site.instagram_username %}
      <a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a>
      {% endif %}
      {% if site.soundcloud_username %}
      <a href="https://soundcloud.com/{{ site.soundcloud_username }}"><i class="fa fa-soundcloud"></i></a>
      {% endif %}
    </div>

    <div class="footer-col-2 column"></div>

    <div class="footer-col-3 column">
      <nav class="footer-nav">
        {% assign pages = site.pages | sort: 'weight' %}
        {% for page in pages %}
          {% if page.title and page.nav == 'footer' %}
            {% if hasItems %}&middot;{% endif %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% assign hasItems = true %}
          {% endif %}
        {% endfor %}
      </nav>
    </div>

  </div>

</footer>
